<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="Static Files" enabled="true" stopProcessing="true">
      <match url="static/.*" />
      <action type="Rewrite" url="{R:0}" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/admin/.*" negate="true" />
                    </conditions>
    </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration>
